/out/production/JavaAppiumAutomation/MainClass.class
/out/production/JavaAppiumAutomation/MainClassTest.class
/out/production/JavaAppiumAutomation/MainTest.class
/out/production/JavaAppiumAutomation/FirstTest.class
